/* 
	uncluttered context menu 

main menu fix */
#appmenu-moreTools{max-height:unset!important;}

/* truncate "Copy Link Without Tracking" to "Copy Link" */
#context-stripOnShareLink label[crop]:before{max-width: 9ch;text-overflow:clip!important;}
#strip-on-share label[crop]:before{max-width: 5ch;text-overflow:clip!important;}
/* hide disabled "Copy Link Without Tracking" items */
#context-stripOnShareLink[disabled="true"],#strip-on-share[disabled="true"],
/* hide "Copy Link" when "Copy Link Without Tracking" is enabled */
#context-copylink:not(:has( + #context-stripOnShareLink[disabled="true"] )),
menuitem[label="Copy"]:not(:has( + #strip-on-share[disabled="true"] )){display:none!important}

/* keep this extension at the bottom
https://bugzilla.mozilla.org/show_bug.cgi?id=1370735 */
#contentAreaContextMenu menuitem[label^="Open in Temp Container"]{order:99!important;}

/* main menu */
#appMenu-multiView vbox>toolbarseparator,
#appMenu-new-tab-button2,#appMenu-new-window-button2,#appMenu-new-private-window-button2,
#appMenu-bookmarks-button,#appMenu-history-button,#appMenu-downloads-button,#appMenu-passwords-button,
#appMenu-print-button2,#appMenu-save-file-button2,#appMenu-find-button2,#appMenu-zoom-controls,
#appMenu-help-button2,
#appMenu-quit-button2,
/* tabs */
#tabContextMenu>menuseparator,
#context_openANewTab,#context_reloadTab,#context_toggleMuteTab,
#context_bookmarkTab,#context_moveTabOptions,.share-tab-url-item,#context_selectAllTabs,
#context_closeTab,#context_closeDuplicateTabs[disabled],#context_closeTabOptions[disabled],#context_closeTabsToTheStart,#closeTabOptions menuitem[disabled],#context_undoCloseTab,
/* tabs toolbar */
#toolbar-context-openANewTab,#toolbarNavigatorItemsMenuSeparator,
#toolbar-context-reloadSelectedTab,#toolbar-context-bookmarkSelectedTab,#toolbar-context-selectAllTabs,#toolbar-context-undoCloseTab,#toolbarItemsMenuSeparator,
/* address bar */
.context-menu-add-engine,
/* "Always Open Similar Files" in the download panel */
.downloadAlwaysOpenSimilarFilesMenuItem,
/* page context menu */
#context-navigation,#context-sep-navigation,
#context-openlinkintab,#context-openlink,#context-openlinkprivate,
#context-savepage,
#context-selectall,#context-print-selection,#context-sep-selectall,
#context-searchselect,
#frame-sep,
/* frame context menu */
#frame menuseparator,
#context-openframe,
#context-bookmarkframe,#context-saveframe,
#context-printframe,
#context-viewframesource,#context-viewframeinfo,
/* "Add a keyword..." */
#context-keywordfield,
/* media */
#context-copyimage-contents,#context-sendimage,#context-setDesktopBackground,#context-sep-setbackground,
#context-media-play,#context-media-mute,#context-media-playbackrate,#context-media-loop,#context-media-eme-separator,#context-video-fullscreen,#context-sendvideo,
/* textboxes */
.textbox-contextmenu menuseparator,#toolbox-menu menuseparator,
menuitem[label="Undo"],menuitem[label="Redo"],#context-sep-redo,menuitem[label="Delete"],menuitem[label="Select All"],
/* https://addons.mozilla.org/addon/order-tabs-by-domain/ */
menu[label="Group Tabs to Window"],menuitem[label="Group Tabs to Window"],
/* https://addons.mozilla.org/addon/open-in-temp-container/ */
#tabContextMenu menuitem[label^="Open in Temp Container"], #contentAreaContextMenu menuitem[label="Copy"]:not([hidden="true"])~menuitem[label^="Open in Temp Container"]{
	display:none!important;
}
