/* --------------------------------------------
        proper horizontal tabs
-------------------------------------------- */
@media not -moz-pref("sidebar.verticalTabs") {
    :root { --tab-block-margin: 0 !important; }
    tab {
        /* tab shape */
        &.tabbrowser-tab { padding-inline: 0 !important; }
        .tab-background { border-radius: 0 !important; margin-block: 0 !important; }

        /* highlight the top of active tabs; container tabs will overwrite the color */
        &[selected] .tab-context-line, &[selected][usercontextid] .tab-context-line { background-color: #0a84ff; height: 3px !important; margin: 0 !important; }

        /* container indicators at the bottom */
        &[usercontextid] .tab-background { border-bottom: 1px dotted var(--identity-tab-color) !important; }

        /* tab dividers/separators */
        &:not([pinned]) + &:not([pinned])::before { border-right: 1px solid #444445; content: ""; }

        /* discarded tabs */
        &[pending="true"] label { opacity: 0.9; }

        /* hide tab close button */
        .tab-close-button { display: none; }

        /* old loading icon */
        @media (prefers-reduced-motion) {
            .tab-throbber[busy] { background-image: url(loading.png) !important; }
            .tab-throbber[busy]:not([progress]) { filter: grayscale(100%); }
        }
    }
}

/* --------------------------------------------
        address bar
-------------------------------------------- */
.urlbarView {
    
    /* "Visit" or "Search with" */
    .urlbarView-row {
        &[type="autofill_origin"], /*&[type="search"],*/ &:first-child:has(.urlbarView-title-separator) {
            display: none !important;
        }
    }

    /* hide when empty */
    &:has(#urlbar-results:empty),
    /* result menu next to suggestions */
    .urlbarView-button {
        display: none !important;
    }

}

/* --------------------------------------------
        extensions
-------------------------------------------- */
#unified-extensions-view {
    width: 250px !important;

    /* extension icons */
    image { height: 16px !important; width: 16px !important; }

    .panel-header,
    /* permissions */
    .unified-extensions-item-message-deck,
    /* gear icons */
    toolbarbutton:nth-child(2),
    /* hide specific extension(s) with toolbar buttons
    #unified-extensions-panel toolbaritem[label="Extension name"], */
    /* hide extensions with no toolbar buttons */
    unified-extensions-item:has(toolbarbutton[disabled]) {
        display: none !important;
    }
    
    #sponsorblocker_ajay_app-BAP label { overflow: hidden; white-space: nowrap; width: 12ch; }

}

/* --------------------------------------------
        context menus
-------------------------------------------- */
/* fix submenus */
.PanelUI-subView { max-height: unset !important; }

/* truncate "Copy Clean Link" */
#strip-on-share label[crop], #context-stripOnShareLink label[crop] { color: transparent; position: relative; }
#strip-on-share label[crop]::after { color: #fff; content: 'Copy'; position: absolute; }
#context-stripOnShareLink label[crop]::after { color: #fff; content: 'Copy Link'; position: absolute; }

/* hide disabled "Copy Clean Link" items */
#context-stripOnShareLink[disabled="true"], #strip-on-share[disabled="true"],
/* hide "Copy Link" when "Copy Clean Link" is enabled */
#context-copylink:has(+ #context-stripOnShareLink:not([disabled="true"])),
menuitem[label="Copy"]:has(+ #strip-on-share:not([disabled="true"])) {
    display: none !important;
}

/* keep this extension at the bottom
https://bugzilla.mozilla.org/show_bug.cgi?id=1370735 */
#contentAreaContextMenu menuitem[label^="Open in"] { order: 99 !important; }

/* main menu */
#appMenu-multiView vbox > toolbarseparator,
#appMenu-new-tab-button2, #appMenu-new-window-button2, #appMenu-new-private-window-button2,
#appMenu-bookmarks-button, #appMenu-history-button, #appMenu-downloads-button, #appMenu-passwords-button,
#appMenu-print-button2, #appMenu-save-file-button2, #appMenu-find-button2, #appMenu-zoom-controls,
#appMenu-report-broken-site-button, #appMenu-help-button2, #appMenu-quit-button2,
/* tabs */
#tabContextMenu > menuseparator,
#context_openANewTab, #context_reloadTab, #context_toggleMuteTab,
#context_bookmarkTab, #context_moveTabOptions, .share-tab-url-item, #context_selectAllTabs,
#context_closeTab, #context_closeDuplicateTabs[disabled], #context_closeTabOptions[disabled], #context_closeTabsToTheStart, #closeTabOptions menuitem[disabled], #context_undoCloseTab,
/* tabs toolbar */
#toolbar-context-menu > menuseparator,
#toolbar-context-openANewTab,
#toolbar-context-reloadSelectedTab, #toolbar-context-bookmarkSelectedTab, #toolbar-context-selectAllTabs, #toolbar-context-undoCloseTab,
#toolbar-context-toggle-vertical-tabs,
#toggle_toolbar-menubar,
/* address bar */
.context-menu-add-engine,
/* "Always Open Similar Files" in the download panel */
.downloadAlwaysOpenSimilarFilesMenuItem,
/* page context menu */
#context-navigation, #context-sep-navigation,
#context-openlinkintab, #context-openlink, #context-openlinkprivate,
#context-savepage,
#context-selectall, #context-print-selection, #context-sep-selectall,
#context-searchselect, #context-translate-selection,
#frame-sep,
/* frame context menu */
#frame menuseparator,
#context-openframe,
#context-bookmarkframe, #context-saveframe,
#context-printframe,
#context-viewframesource, #context-viewframeinfo,
/* media */
#context-copyimage-contents, #context-sendimage, #context-setDesktopBackground, #context-sep-setbackground,
#context-media-play, #context-media-mute, #context-media-eme-separator, #context-video-fullscreen, #context-sendvideo,
/* textboxes */
.textbox-contextmenu menuseparator,
menuitem[label="Undo"], menuitem[label="Redo"], #context-sep-redo, menuitem[label="Delete"], menuitem[label="Select All"] {
    display: none !important;
}